body {
    background-image: url("image/hotelimage.jpg");
    height: 100%;
    width: 100%;
}

img {
    height: 300px;
    width: 300px;
}

.card {
    width:300px;
    height:400px;
    margin-bottom: 40px;
    margin-right: 70px;
}

.list-view {
    display: flex inline-block;
    columns: 3;
    display: flex;
    flex-wrap: wrap;
    height:2000px;    
}
.container {
      margin-top: 50px;
      margin-left: 20px;
}

.border{
    word-wrap: break-word;
    border-style: 1px solid;
    border-color: red;
    width: 200%;
    height: 520px;
    margin-bottom: 900px;
    margin-right: 70px;
    display: inline;  
}
.card-text{
    max-height: 100%;
    width: 200%; 
}

.card-border{
    border: 1px;
    margin: 400px;
    width:200px;
    height:200px;
    padding: 50px
}

.Bord{
    padding-top: 500px;
    margin-top: 500px;
    
    
}